################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TronDialApp/.vs/Tron Dial App/v15
/TronDialApp/.vs/Tron Dial App/v15/.suo
/TronDialApp/.vs/Tron Dial App/v15
