################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/TronDialApp/.vs/*
/TronDialApp/TronDialApp/obj/*
/TronDialApp/TronDialApp/bin/*
